
<div class="container">
  <h1 class="text-center none-margin-top-bottom">Editing film</h1>

<%= form_for :film, url: film_path(@film), method: :patch do |f| %>

  <% if @film.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@film.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @film.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :poster %><br>
		<%= f.file_field :poster %>
  </p>

  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :director %><br>
    <%= f.text_field :director %>
  </p>

  <p>
    <%= f.label :year %><br>
    <%= f.text_field :year %>
  </p>

    <button type="submit" class="btn btn-success btn-circle btn-outline glyphicon glyphicon-ok"></button>


<%= link_to "", films_path, class: "btn btn-default btn-circle btn-outline glyphicon glyphicon-arrow-left" %>
<% end %>
</div>
