
<div class="container">
  <h1>Editing film</h1>

<%= form_for :film, url: film_path(@film), method: :patch do |f| %>

  <% if @film.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@film.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @film.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :poster %><br>
		<%= f.file_field :poster %>
  </p>

  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :director %><br>
    <%= f.text_field :director %>
  </p>

  <p>
    <%= f.label :year %><br>
    <%= f.text_field :year %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>

<%= link_to 'Back', films_path %>
</div>
