
<div class="container form-horizontal">
  <h1>Editing film</h1>

<%= form_for :film, url: film_path(@film), method: :patch do |f| %>

  <% if @film.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@film.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @film.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :poster, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
    <%= f.file_field :poster %>
  </br>
  </div>
  </div>
    <div class="form-group">
      <%= f.label :title, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :title, class: "form-horizontal opacity" %>
        </br>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :director, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :director, class: "form-horizontal opacity" %>
        </br>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :year, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :year, class: "form-horizontal opacity" %>
        </br>
      </div>
    </div>
    <div class="form-group">
      <div class="text-center">
        <button type="submit" class="btn btn-success btn-circle btn-outline glyphicon glyphicon-ok"></button>
        <%= link_to "", films_path, class: "btn btn-default btn-circle btn-outline glyphicon glyphicon-arrow-left" %>
      </div>
    </div>

<% end %>

<%= link_to 'Back', films_path %>
</div>
