<div class="container">
  <% if @films.blank? %>
  <h3>No results found</h3>
  <% else %>
  <div class="row">
  <% @films.each do |f| %>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail" style="border-radius: 8px;">
      <%= image_tag f.poster.url, class: "poster256" %>
      <div class="caption">
        <h3 class="text-center"><%= f.title %></h3>
        <p class="text-center"><%= f.director %></p>
        <p class="text-center"><%= f.year %></p>
          <p class="text-center">
            <%= link_to "", f, class: "btn btn-default btn-circle btn-outline glyphicon glyphicon-search" %>
                      <% if user_signed_in? %>
                      <%= link_to "", edit_film_path(f), class: "btn btn-default btn-circle btn-outline glyphicon glyphicon-pencil" %>
                      <%= link_to "", film_path(f) , method: :delete, class: "btn btn-default btn-circle btn-outline glyphicon glyphicon-remove" %>
                      <% end %>
            </p>
            </div>
    </div>
  </div>
<% end %>
</div>
<%= will_paginate @films, renderer: BootstrapPagination::Rails %>
</br>
<% end %>
</div>
